@font-face {
        font-family: Ubuntu;
        src: url('../fonts/Ubuntu.ttf');
      }
html
{
	font-family: Ubuntu;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
}
body
{
	margin:0;
	background-color: #e1e8ed;
	font-size: 14px;
	color: #292f33;
	transition: all .1s linear;
}
html, body, #doc
{
	height:auto;
}
div 
{
    display: block;
}
#doc
{
	background-color: #e1e8ed;
	width: 1903px;
}
.header-wrap
{
	height: 120px;
	width: 100%;
	position: fixed;
	z-index: 1;
}
.header-wrapper
{
	height: 120px;
	width: 100%;
}
.header-slide
{
	height: 210px;
    transition: height 300ms linear;
	width: 100%;
}
.header-image
{
	background-image: url('../img/linear.jpg');
	background-size: 100%;
	background-position: center;
	position: absolute;
	width: 100%;
}
.header-view
{
	color: #fff;
    margin: 0 auto;
    padding-top: 20px;
    text-align: right;
    width: 1195px;
	position: relative;
	top: 10px;
	height: 250px;
	width: 100%;
}
a
{
	    color: white;
		text-decoration: none;
		background: transparent;
}
h1,h2
{
	text-rendering: optimizeLegibility;
	margin: 0;
}
h2{
	display: block;
	 
	-webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
	    font-size: 22px;
    font-weight: 300;
    line-height: 22px;
}
.logo
{
	top: 10px;
	color: #fff;
    font-size: 30px;
    transition: top 300ms linear;
	position: relative;
    float: left;
	background: transparent;
    display: inline-block;
    font-style: normal;
    vertical-align: baseline;
}
.logo:before
{
	content: "+";
}
.logo:after, .logo:before
{
	display: block;
    font-family: "rosettaicons";
    font-weight: normal;
    font-style: normal;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}
.logo:after
{
	content: "-";
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.Page-Content
{
	position: relative;
    text-align: center;
    transition: top 300ms linear;
    width: 680px;
    margin: 0 auto;
}
.Page-Content-Header
{
	color: #fff;
    font-weight: 200;
    line-height: 48px;
    margin-bottom: -5px;
    font-size: 32px;
}
.Page-Content-Sub
{
	color: #fff;
    font-size: 21px;
    font-weight: 200;
    line-height: 28px;
    opacity: .7;
    -ms-filter: "alpha(opacity=70)";
    transition: opacity 300ms linear;
	display: block;
	height: 68px;
}
@media only screen and (min-device-width: 1920px) {
.Navigation
{
	margin-left: 0px;
	background-color: white;
	color: black;
	width: 100%;
}
.Navigation-Sub
{
	text-align: right;
	padding-left: 10%;
	padding-right: 20%;
}
}
@media only screen and (max-device-width: 1366px) {
.Navigation
{
	margin-left: 0px;
	background-color: white;
	color: black;
	width: 100%;
}
.Navigation-Sub
{
	text-align: left;
	padding-left: 10%;	
}
body
{
	overflow-x: hidden;
}
}
button{
	padding: 5px 50px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  color: black;
  background-color: white;
  border-left: 0.5px solid silver;
  border-right: 0px;
  border-radius: 0px 0px 0px;
  border-top : 0px;
  border-bottom: 0px;
  transition: all .2s linear;
  height: 60px;	
}
button[id = 'login']
{
	position: absolute;
}
	button:hover{
	background-color: white; 
	border-bottom: 5px solid skyblue;
	transition: all .2s linear;
	color: orange;  
	
	}
	button:active{
		transform: translateY(0px);
		box-shadow: 0px 5px 20px red;
		outline: none;
		border: none;
	}
	.Appcontent
	{
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 30px;
		position: relative;
		top: 270px;
		margin-bottom: 40px;
		height: 100%;
		padding-bottom: 20px;
		z-index: 0;
	}
	.Grid-Content
	{
	display: block;
    font-size: 0;
    margin: 0;
    padding: 0;
    text-align: left;
	margin: -20px auto 0 auto;
    width: 1220px;
	color: black;
	}
	.content
	{
	box-sizing: border-box;
    display: inline-block;
    font-size: 14px;
    margin: 0;
    padding: 0;
	padding-left: 10px;
    text-align: left;
    vertical-align: top;
	width: 48%!important;
	float: left;
	color: skyblue;
	font-weight: 900;
	}
	.Header-View-Label
	{
		display: block;
		padding-bottom: 10px;
		padding-top:20px;
		color: black;
	}
	.Real-View
	{
		background-color: white;
		border-radius: 10px 10px 10px 10px;
		padding-left:10%;
		padding-top:10%;
		padding-bottom: 10%;
		padding-top: 10%;
		border: 2px solid silver;
	}
	c
	{
	color: red;	
	}
	input
	{
		background-color: skyblue;
		border: none;
		outline: none;
	}
	input[type = "text"]
	{
		height: 20px;
		padding-left: 5px;
	}
	select
	{
		background-color: skyblue;
		height: 50px;
		text-rendering: optimizeLegibility;
		border: none;
		outline: none;
		border-radius: 20px 2px 20px 2px;
	}
	input[type = "submit"]
	{
	padding: 10px 15px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  color: black;
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  color: skyblue;
  transition: all .3s linear;
  border: 2px solid skyblue;
	}
	input[type = "submit"]:hover
	{
  color: orange;
  transition: all .5s linear;
  box-shadow: 2px 4px 10px black;
	}
	input[type = "submit"]:active
	{
	outline: none;
	border: none;
transform: rotate(360deg);
  transition: all .3s linear;
	}
.tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}